.header {
    background-color: #3b82f6;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-user span {
    font-weight: bold;
}

.header-user span:last-child {
    font-weight: normal;
}

.header-role {
    font-weight: normal;
}

.header-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-nav a:hover {
    background-color: #5457e9;
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}


.header-button:hover {
    background-color: #5457e9;
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.header-button {
    background-color: #6366f1;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.header-user-iniciales {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #6366f1, #5457e9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.header-user-iniciales:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}
